* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5rem;
}

a {
  color: black;
}

a:visited,
a:active {
  color: black;
}

